<meta
name="viewport"
content="width=device-width;
initial-scale=1.0;
maximum-scale=1.0;
user-scalable=0;"
>
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}





body{
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0px;
}
div{
  float:left;
}

a{
  text-decoration:none;
}
#topbar, #content, #bottombar{
  width: 100%;
  float: left;
}
#topbar{
  height: 120px;
  position:relative;
  top: 0%;
  left: 0%;
  right: 0%;
}
#content{
  /*height: 100px;*/
  position:relative;
  /*top:120px;*/
  left: 0%;
  right: 0%;
  background-color: yellow;
}
#bottombar{
  height: 300px;
  position:relative;
  /*top:200px;*/
  left: 0%;
  right: 0%;
  background-color: rgb(234,234,234);
}


#logo{
  width: 9.29%;
  position:absolute;
    top:60px;
    left:18%;
}
#logo:hover{
  cursor: pointer;
}

#select{
  width: 50%;
  /*position:relative;*/
  position:absolute;
  top:0%;
  left:30%;
}
#search{
  width: 10%;
  position:absolute;
  /*float: left;*/
  top:86px;
  left:85.5%;
  position:relative;
}

#link{
  width: 1.19%;
  position:absolute;
  top:86px;
  left:87%;
}




#srchInput{
  width: 0px;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
  position:absolute;
  border-top: none;
  border-bottom: solid 1px rgb(127,127,127);
  border-left: none;
  border-right: none;
}

#srchPic{
  position:absolute;
}
#srchPic:hover{
  cursor: pointer;
}


#news, #concept, #product, #service, #stores, #contact{
  display:block;
  height:52px;
  text-align:center;
  line-height: 60px;
  color: rgb(127,127,127);
  float: left;
  font-size: 12px;
}
#news:hover,
#concept:hover,
#product:hover,
#service:hover,
#stores:hover,
#contact:hover{
  border-bottom: solid #1a1a1a 3px;
  color: rgb(0,0,0);
  font-weight: bold;
}
#news{
  position:absolute;
  width: 11.9%;
  top:67px;
  left:0px;
}
#concept{
  position:absolute;
  width: 16.07%;
  top:67px;
  left:11.9%;
}
#product{
  position:absolute;
  width: 16.07%;
  top:67px;
  left:27.97%;
}
#service{
  position:absolute;
  width: 16.07%;
  top:67px;
  left:44.04%;
}
#stores{
  position:absolute;
  width: 14.64%;
  top:67px;
  left:58.68%;
}
#contact{
  position:absolute;
  width: 16.07%;
  top:67px;
  left:74.75%;
}


#bottomP1{
  position:absolute;
  width: auto;
  top:65px;
  left:18%;
}
#bottomP2{
  position:absolute;
  top:65px;
  left:28%;
  color: rgb(127,127,127);
}

#bottomP3{
  position:absolute;
  top:65px;
  left:38%;
  color: rgb(127,127,127);
}

#bottomP4{
  position:absolute;
  top:65px;
  left:48%;
  color: rgb(127,127,127);
}

#bottomP5{
  position:absolute;
  top:65px;
  left:58%;
  color: rgb(127,127,127);
}

#bottomP6{
  position:absolute;
  top:200px;
  left:18%;
  color: rgb(127,127,127);
}

#bottomP1_a,
#bottomP1_b,
#bottomP1_c,
#bottomP1_d,
#bottomP2_a{
  color: rgb(127,127,127);
  font-size: 14px;
}
#product1,
#product2,
#product3,
#product4,
#product5,
#product6,
#product7,
#product8,
#product9{
  color: rgb(127,127,127);
  font-size: 13px;
}

#bottomP5_a,
#bottomP5_b,
#bottomP5_c{
  color: rgb(127,127,127);
  font-size: 14px;
}

#bottomP1_5_1{
  color: rgb(127,127,127);
  font-size: 10px;
}
/*#bottomP1_2{
  position:absolute;
  top:20px;
}*/
/*做螢幕調整用的部分設定
#news, #concept, #product, #service, #stores, #contact{
  display:block;
  width: 40%;
  height:50px;
  text-align:center;
  line-height: 50px;
  color: rgba(0,0,0,0.4);
  float: left;
  font-size: 12px;
}
#news:hover,
#concept:hover,
#product:hover,
#service:hover,
#stores:hover,
#contact:hover{
  border-bottom: solid #1a1a1a 5px;
  color: black;
}
#news{
  position:absolute;
    top:45px;
    left:0px;
}
#concept{
  position:absolute;
    top:45px;
    left:40%;
}
#product{
  position:absolute;
    top:45px;
    left:80%;
}
#service{
  position:absolute;
    top:45px;
    left:120%;
}
#stores{
  position:absolute;
    top:45px;
    left:160%;
}
#contact{
  position:absolute;
    top:45px;
    left:200%;
}*/




#TT {
    color: red;
}



@media screen and (max-width: 1000px) {
/*// 如果使用者視窗寬度 <= 480px，將字體大小變為 16px*/
b {
 /*font-size: 16px;*/
color: yellow;
}
}
